@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  /*--background: #ffffff;
  --foreground: #171717;*/
}

@theme inline {
  /*--color-background: var(--background);
  --color-foreground: var(--foreground);*/
}

@media (prefers-color-scheme: dark) {
  :root {
    /*--background: #0a0a0a;
    --foreground: #ededed;*/
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-quicksand);
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
}

h1, h2 {
  color: #2c3e50;
}

.cool-green {
  color: #107E7D;
}

.cool-blue {
  color: #97C8EB;
}

.bg-cool-green {
  background-color: #107E7D;
}

.bg-cool-blue {
  background-color: #97C8EB;
}
